.scroll{
       height: 350px;
       width: 300px;
       border: 1px solid rgba(0, 0, 0, 0.1);
       text-align: center;
       padding: .2rem .2rem;
       background-color: #fff;
}

.project_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.3rem;
}
.scroll img{
          width: 80%;
          height: 90%;
          /* margin: auto; */
          
}
.project_title{
         color: initial;
         font-weight: 600;
}

@media screen and (max-width:300px)
{
         .scroll img{
                   width: 95%;
         }
}